.dropdown {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    & h4 {
        font-size: 1.5rem;
        padding: 5px 15px;
        height: 20px;
    }

    & ul {
        list-style: none;
        display: none;
        position: absolute;
        z-index: 100;
        top: 40px;
        background-color: rgba(155, 153, 156, 0.9);
        flex-direction: column;
        width: 100%;
        & li {
            font-size: 1.5rem;
        }
    }

    &:hover,
    &:focus {
        & h4,
        & ul li {
            cursor: pointer;
        }
    }
}
