.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 1rem;
    margin-top: 5rem;
    position: relative;


    & li {
        padding: auto 1rem;
        width: 4rem;

        & > button {
            border: none;
            outline: none;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            cursor: pointer;
        }
    }
}
.current-page {
    background-color: rgb(170, 155, 155);
}
